body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #55526a;
  background-size: cover;
  background-position: center;
}
/******************************************************************************************/
/******************************************************************************************/

/*******************************************************************************************************/

#section {
  margin-left: 35%;
}
h1 {
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.view {
  margin-top: 20px;
  font-size: 25px;
}
img {
  margin-left: 0%;
}

a:link {
  text-decoration: none;
  color: rgb(0, 2, 92);
}
a:hover {
  color: black;
}

.css-button {
  border: 2px solid black;
  height: 50px;
  width: 210px;
  position: absolute;
  left: 39%;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 25px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  color: black;
}

p.css-button-text {
  width: 100%;
  position: absolute;
}

.css-button-inner {
  height: 50px;
  width: 220px;
  position: relative;
  left: -4px;
  top: -1px;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
}

.css-button:hover > .css-button-inner {
  animation-name: buttonx-in;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}
.flat-table {
  border-collapse: collapse;
  font-family: "Lato", Calibri, Arial, sans-serif;
  border: none;
  border-radius: 3px;
  position: relative;
  left: 28%;
}
.flat-table th,
.flat-table td {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
}
.flat-table th {
  padding: 1em;
  color: rgb(255, 0, 0);
  font-weight: bolder;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
}
.flat-table td {
  color: #410427;
  padding: 0.4em 2.5em 0.4em 1em;
  text-shadow: 0 0 1px rgba(248, 6, 87, 0.1);
  font-size: 1.4em;
}
.flat-table tr {
  transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-1 {
  background: #f0ccd2;
}
.flat-table-1 tr:hover {
  background: rgba(112, 64, 64, 0.445);
}
